html {
	min-height: 100%;
	height: 100%;
	width: 100%;
}

body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

h1 {
	font-size: 21px;
}



$dark: #333;

.top-header {
	width: 100%;
	background-color: $dark;
	height: 200px;
}

.menu-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-container {
  width: calc(100% - 250px);
  display: inline-block;
}
.aside-container {
  width: 200px;
  display: inline-block;
}