$dark: #222428;
$black: #020101;
$orange: #ff3d00;
$green: #46751c;
$text_dark: #424c56;
$text_lite: #646b7e;
$input_bg: #333333;
$board_color: #111418;
$padding: 25px;
$container-padding: 40px;
html {
    min-height: 100%;
    height: 100%;
    width: 100%;
    font-size: 100%;
}

body {
    min-height: 100%;
    height: 1px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

h1 {
    font-size: 28px;
    margin-top: 0;
    font-weight: 900;
}

.m-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: $orange;
    color: #fff;
    cursor: pointer;
    border: none;
}

.input-holder {
    position: relative;
    .input-form {
        border-radius: 50px;
        background-color: $input_bg;
        border: none;
        padding: 10px 15px;
        &.mod-300 {
            width: 300px;
        }
    }
    &.mod-with-icon {
        display: inline-block;
        .input-icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
            color: $text_lite;
        }
    }
}

a {
    text-decoration: none;
    color: $text_lite;
}

.mod-bordered-bottom {
    border-bottom: 1px solid #333;
}

.mod-bordered-top {
    border-top: 1px solid #333;
}

.top-header {
    width: 100%;
    background-color: $dark;
    height: 135px;
    box-shadow: 0 0 7px -2px #000;
    position: relative;
    z-index: 999;
}

.menu-inline {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
    }
    &.mod-with-dot-separator {
        li + li {
            &:before {
                content: 'ãƒ»';
                color: $text_lite;
            }
        }
    }
}

.header-container {
    width: calc(100% - 255px);
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.aside-container {
    width: 250px;
    display: inline-block;
    position: relative;
    height: 100%;
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }
    .conpany-name {
        color: $orange;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}

.board-container {
    padding: $padding * 2;
    width: calc(100% - 250px);
    background-color: $board_color;
    height: calc(100% - 135px);
    display: inline-block;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #222428;
    }
    &::-webkit-scrollbar {
        width: 12px;
        background-color: $board_color;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: $orange;
    }
}

.header--top-line {
    padding: $padding 0;
    width: 100%;
    .menu-inline {
        font-size: 13px;
        font-weight: 700;
    }
}

.header--bottom-line {
    width: 100%;
    .search-form {
        margin: $padding/2 0;
    }
}

.tags-line {
    padding: 0;
    display: inline-block;
    margin: $padding/2 0;
    .tag {
        display: inline-block;
        font-size: 12px;
        padding: 2px 15px;
        &.active {
            background-color: $orange;
            border-radius: 50px;
            a {
                color: #fff;
            }
        }
    }
}

.main-side-menu {
    height: calc(100% - 135px);
    background-color: $dark;
    float: left;
    padding-top: $padding;
    .main-side-item {
        max-width: 100%;
        padding: $padding/2 0;
        text-align: center;
        & + .main-side-item {
          @extend .mod-bordered-top;
        }
    }
}

.movie-item {
    width: 100%;
    background-color: rgba(256, 256, 256, .6);
    height: 350px;
    max-width: 800px;
    margin-bottom: 20px;
}

.movie-info {
    display: inline-block;
    float: right;
    width: calc(100% - 260px);
    padding: 25px;
    box-sizing: border-box;
}

.movie-details {
    display: block;
    padding: 0;
    .movie-details--item {
        display: inline-block;
    }
    .movie-details--item + .movie-details--item {
        padding-left: 20px;
    }
}

.movie-poster {
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    img {
        width: 100%;
        min-width: 100%;

    }
    .overflow {
        width: 100%;
        height: 100%;
        background-image: url(../images/overlay.png);
        background-repeat: no-repeat;
        background-size: contain;
        opacity: .8;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.m-row {
    margin-top: 20px;
}