<!-- <div ng-controller="AdviserController as adviser">
  <div class="movie-item">
    <div class="movie-poster">
      <img ng-src="{{ film.poster }}"/>
      <div class="overflow"></div>
    </div>
  </div>
  <h1>{{film.id}}</h1>
</div> -->

<div ng-controller="AdviserController as adviser">
  <div class="movie-item">
    <div class="movie-poster">
      <img ng-src="{{ film.poster }}"/>
      <div class="overflow"></div>
    </div>
    <div class="movie-info">
      <h1 class="movie-title">{{ film.title }}</h1>
      <ul class="movie-details"></ul>
      <div class="movie-plot">
        {{ film.plot }}
      </div>
    </div>
  </div>
</div>
  <div class="m-row">
    <button class="m-btn">Get new film</button>
  </div>
