<!-- <div ng-controller="AdviserController as adviser">
  <div class="movie-item">
    <div class="movie-poster">
      <img ng-src="{{ film.poster }}"/>
      <div class="overflow"></div>
    </div>
  </div>
  <h1>{{film.id}}</h1>
</div> -->

<div ng-controller="AdviserController as adviser">
  <div class="movie-item">
    <div class="movie-poster">
      <img ng-src="{{ film.poster }}"/>
      <div class="overflow"></div>
    </div>
    <div class="movie-desr">
      <h1>{{ film.title }}</h1>
      <div class="descr-text">
        {{ film.plot }}
      </div>
    </div>
  </div>

</div>